body{
    background-color: #222;
    color: white;
    font-size: medium;
}
header {
    border-bottom: 10px solid #444;
}
#about-me-left,
#about-me-right,
#contact-me div,
#social-media div,
#demos div{
    background-color: #333;
    color: #E9EAEC;
}
h1{
    color: #E9EAEC;
}
h2{
    border-left: 3px solid #444;
    color: #E9EAEC;
}
footer{
    border-top: 1px solid #444;
    color: #E9EAEC;
}